/* Put your custom styles here */
#konf{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#konf>div>div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 22px);
  height: 150px;
  overflow-y: scroll;
}
