/* Put your custom styles here */
body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
background: #bea2e7; /* Old browsers */
background: -moz-linear-gradient(top,  #bea2e7 0%, #86b7e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bea2e7 0%,#86b7e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bea2e7 0%,#86b7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 ); /* IE6-9 */

}

#center_component {
  display: block;
  margin-left: 135px;
  width:70%

}

#konf{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#konf>div{
  position: relative;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px;
  border-radius: 6px;
  width: 800;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

#konf>div>div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 22px);
  height: 150px;
  overflow-y: scroll;
}

#headline_left { 
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left; 
}
#headline { 
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
}
h2,h3,h4,div,span, p {
  color:#ffffff
}
#activeusers, #camera_response {
  position: relative;
  margin-left: 15px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding-bottom: 7px;
  padding-left: 7px;
  border-radius: 6px;
  width: 800;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

#text_padder {
  padding:5px;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: left; 
}
#listed li {
  position: relative;
  margin-left: 30px;
  margin-right: 17px ;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1px;
  border-radius: 6px;
  width: 800;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}
#listed  li:not(:first-child) {
  margin-top: 1px;
}
#listed li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}

#listed .title{
  font-weight: 600;
  font-size: 15px;
  margin-right: 20px;
}